<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
  <link rel="stylesheet" href = "{{ get_url(path="style.css") }}" />
</head>
<body>
  <ul>
    <li><a href = "{{ get_url(path="@/blog/contact-us.md") }}">Contact Us</a></li>
    <li><a href = "https://www.cbc.ca/">EXIT</a></li>
    <li><a>Français</a></li>
    <li id="logo"><a href = "{{ get_url(path="@/homepage.md") }}">HRT In Montreal </a></li>
    </ul>
      {% block content %} {% endblock %}
</body>

</html>

