<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
  <link type = "text/css" rel="stylesheet" href = "style.scss"/>
</head>
<body>
  <div id = "header"> 
    <ul>
      <li><a href = "blog/contact-us.md">Contact Us</a></li>
      <li><a>Français</a></li>
      <li id="logo"><a href = "{{ get_url(path="@/_index.md") }}">HRT In Montreal </a></li>
      </ul>
  </div>
        {% block content %} {% endblock %}
<div id = "footer">
  <p>Page last modified:</p>
  <p id="date"></p>
  
  <script>
  let text = document.lastModified;
  document.getElementById("date").innerHTML = text;
  </script>
</div>

</body>

</html>
