<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
  <link rel="stylesheet" href =  "{{ get_url(path="style.css") }}"/>
</head>
<body>
  <div id = "header"> 
    <ul>
      <li><a href = "contact-us.md">Contact Us</a></li>
      <li><a>Français</a></li>
      <li id="logo"><a href = "{{ get_url(path="@/_index.md") }}">HRT In Montreal </a></li>
      </ul>
  </div>
<div id = "intro paragraph">
  <p>Below is a list of doctors in Montreal who have prescribed Hormone Replacement Therapy (HRT) before. Our list is informed by patient testimony, and we don't have the ability to guarantee the truth of claims made by participants, although we have checked to make sure the practitioners listed here do exist. This site was made by the Trans Patient Union at McGill. Our site is only one part of a larger effort to compile an exhaustive resource on how to access gender-affirming care in Quebec - that project, with its larger scope, is being tackled by the <a href="http://www.qpirgconcordia.org/2012/09/cure-2/">Community-University Research Exchange</a>. It is in the works and will be linked when published. We'd like to thank all the community organizations in Montreal and beyond who have given resources, feedback, and time.</p>
</div>
<div id = "table">
  {% block content %}
  {{ content.section | safe }}
  {% endblock content %}
</div>
</body>
</html>
